*{
    margin:0%;
    padding:0%;
}
body{
    background-color:whitesmoke;
}
nav{
    background-color: black;
    height:80px
}
nav ul {
    display: flex;
    text-align: center;
    cursor: pointer;
}
nav ul li img{
    margin-top: 15px;
    width: 50px;
    height:50px;
}
nav ul li {
    display:flex;
    font-size: 20px;
    font-family:sans-serif;
    list-style-type: none;
    color:white;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
}
#logo{
    margin-top: 15px;
    font-size: 30px;
    color:white;
    margin-right: 100px;
}
.contact{
    margin-left: 750px;
    
}
.cont{
    margin-top:50px;
    margin-left:70px;
    background-color: lightblue;
    width:1150px;
    height:300px;
    padding:20px;
    background-image: url("music.png");
    background-position: center;
}
.bottom{
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    color:white;
    height:120px;
    width:cover;

}
#myProgressBar{
    width:1000px;
    height:30px;
    margin-left:150px;
    margin-top:20px;
    cursor: pointer;
}
.icons{
    text-align: center;
    justify-content: space-between;

}
.songInfo{
    margin-top: -100px;
    color:white;
      margin-left: 150px;
}
.songItem{
    color:white;
}
.songName{
    color:white;
}
.timestamp{
    color:white;
}
.songitemcontainer{
    background-color:black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    width:600px;
    border-radius: 30px;
}
 @media only screen and (max-width: 480px) {
body{
    background-color: brown;
}    
#logo{
    font-size: 20px;
}
nav {
    width:400px;
}
.brand{
    margin-bottom: 5px;
}
nav ul  {
    display: flex;
    width:100px;
   
}
.contact{
    margin-left: 50px;
}
nav ul li img{
    width:50px;
    height:50px;
}
nav ul li{
    font-size: 15px;
    width:150px;
}

.cont{
    width:270px;
    height:300px;
    margin-left: 20px;
    margin-top: 20px;
}
h1{
    margin-top: -20px;
    padding-left: -10px;
}
.bottom{
    width:310px;
    margin-left: 20px;
    margin-right: 0px;
    height:100px;
}
#myProgressBar{
    width:250px;
    margin-left: 20px;
}
#masterSongName{
    margin-left: -100px;
}
.icons{
    font-size: 10px;
    margin-left: 0px;
}
.songitemcontainer{
    width:230px;
}
} 